.container {
  background-color: #b6cdbd;
}

h1 {
  text-align: center;
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Permanent Marker", cursive;
  font-family: "Roboto Mono", monospace;
  font-family: "Titillium Web", sans-serif;
  text-shadow: 1px 1px 2px grey;
  margin-bottom: 30px;
}

.card {
  display: block;
  margin: 0 auto;
  background-color: #ddeedf;
  border-color: #5c715e;
  border-radius: 20px;
}

.title {
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Permanent Marker", cursive;
  font-family: "Roboto Mono", monospace;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
}

.sub-title {
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Permanent Marker", cursive;
  font-family: "Roboto Mono", monospace;
  font-family: "Titillium Web", sans-serif;
}

.text {
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Permanent Marker", cursive;
  font-family: "Roboto Mono", monospace;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
}

.rain-icon {
  font-size: 48px;
  position: absolute;
  right: 30px;
  top: 20px;
}

.rain-icon:hover {
  color: rgb(42, 60, 221);
}
.note {
  font-size: 12px;
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Permanent Marker", cursive;
  font-family: "Roboto Mono", monospace;
  font-family: "Titillium Web", sans-serif;
}

.date {
  color: black;
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Permanent Marker", cursive;
  font-family: "Roboto Mono", monospace;
  font-family: "Titillium Web", sans-serif;
  width: 30rem;
}

.search-form {
  margin-top: 20px;
  margin-left: 320px;
}

.type-city {
  font-size: 14px;
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Permanent Marker", cursive;
  font-family: "Roboto Mono", monospace;
  font-family: "Titillium Web", sans-serif;
  width: 200px;
}
.search-button {
  background-color: #5c715e;
  border-color: #f2f9f1;
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Permanent Marker", cursive;
  font-family: "Roboto Mono", monospace;
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
}

.search-button:hover {
  background-color: #f2f9f1;
  color: #5c715e;
  border-color: #5c715e;
  transition: all 150ms ease-in-out;
}

.forecast {
  font-size: 14px;
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Permanent Marker", cursive;
  font-family: "Roboto Mono", monospace;
  font-family: "Titillium Web", sans-serif;
  margin-left: 230px;
  font-weight: bold;
}
.list-days {
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Permanent Marker", cursive;
  font-family: "Roboto Mono", monospace;
  font-family: "Titillium Web", sans-serif;
  padding-left: 220px;
  font-size: 16px;
  padding-bottom: 60px;
  margin-bottom: 50px;
}

.column {
  background-color: rgb(247, 225, 240);
}

.column:hover {
  font-weight: bold;
  transition: all 150ms ease-in-out;
}
.signature {
  font-size: 14px;
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Permanent Marker", cursive;
  font-family: "Roboto Mono", monospace;
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
  text-align: right;
  margin-right: 110px;
}
